# dependencies
node_modules/

# env files
.env
.env.*

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# prisma local db (if sqlite)
*.db
*.db-journal

# OS files
.DS_Store
Thumbs.db
